.agency-section {
  display: flex;
  max-width: 858px;
  flex-direction: column;
  color: #000000;
  font-weight: 400;
}
.hero-container {
  background-color: rgba(221, 71, 123, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 52px 40px;
  font: 20px Lato, sans-serif;
}
@media (max-width: 991px) {
  .hero-container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.hero-content {
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 49px 62px;
}
@media (max-width: 991px) {
  .hero-content {
    max-width: 100%;
    padding: 0 20px;
  }
}
.agency-name {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}
.agency-tagline {
  margin-top: 28px;
}
.agency-mission {
  font-family: League Gothic, sans-serif;
  margin-top: 46px;
}
@media (max-width: 991px) {
  .agency-mission {
    margin-top: 40px;
  }
}
.info-container {
  background-color: rgba(221, 71, 123, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4px 40px 22px;
  font: 14px/21px Ledger, sans-serif;
}
@media (max-width: 991px) {
  .info-container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.info-content {
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 24px 24px 97px 0;
}
@media (max-width: 991px) {
  .info-content {
    max-width: 100%;
    padding-right: 20px;
  }
}
.info-highlight {
  background-color: rgba(109, 208, 76, 1);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
  align-self: start;
  padding: 20px 54px;
  font: 800 16px/1.2 Lato, sans-serif;
  border: 1px solid rgba(8, 99, 81, 1);
}
@media (max-width: 991px) {
  .info-highlight {
    padding: 0 20px;
  }
}
.info-description {
  margin: 38px 0 0 11px;
}
@media (max-width: 991px) {
  .info-description {
    max-width: 100%;
  }
}
.info-cta {
  margin: 29px 35px 0 11px;
}
@media (max-width: 991px) {
  .info-cta {
    max-width: 100%;
    margin-right: 10px;
  }
}
.tagline-highlight {
  color: rgba(221, 71, 123, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}