
  .agency-section {
    display: flex;
    max-width: 793px;
    padding-left: 15px;
    flex-direction: column;
    color: #000000;
    font-weight: 400;
  }
  .agency-intro {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 28px 62px 69px;
    font: 20px Lato, sans-serif;
  }
  @media (max-width: 991px) {
    .agency-intro {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .agency-name {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
  }
  .agency-tagline {
    margin-top: 28px;
    font-family: League Gothic, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .tagline-highlight {
    color: #dd477b;
  }
  .agency-motto {
    font-family: League Gothic, sans-serif;
    margin-top: 46px;
  }
  @media (max-width: 991px) {
    .agency-motto {
      margin-top: 40px;
    }
  }
  .agency-description {
    background-color: #d9d9d9;
    display: flex;
    margin-top: 11px;
    flex-direction: column;
    align-items: start;
    padding: 32px 24px 90px 0;
    font: 14px/21px Ledger, sans-serif;
  }
  @media (max-width: 991px) {
    .agency-description {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .description-highlight {
    background-color: #6dd04c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 43px;
    font: 800 16px/1.2 Lato, sans-serif;
    border: 1px solid #086351;
  }
  @media (max-width: 991px) {
    .description-highlight {
      padding: 0 20px;
    }
  }
  .description-text {
    margin: 37px 0 0 11px;
  }
  @media (max-width: 991px) {
    .description-text {
      max-width: 100%;
    }
  }
  .description-cta {
    margin: 29px 0 0 11px;
  }
  @media (max-width: 991px) {
    .description-cta {
      max-width: 100%;
    }
  }